.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__menu {
  justify-self: center;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__links-list-item_bullit {
  text-underline-offset: 4px;
  border-bottom: 1px solid black;
  list-style-type: circle;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

.address {
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  max-width: 240px;
}

.header__address {
  margin: 95px 50px 100px 184px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.address__contacts {
  text-decoration: none;
  text-underline-offset: 4px;
  border-bottom: 1px solid black;
}

.cover {
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -2;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: -1;
}

.cover__title {
  font-family: Raleway;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 106px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
  transform: translateX(5px);
}

.cover__description {
  display: flex;
  flex-direction: row;
  height: 51;
  gap: 107px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  color: white;
}

.bet-button {
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  padding: 12px 32px;
  border: 1px solid white;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.lots__card-list {
  display: grid;
  list-style-type: none;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.lots__heading {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  text-decoration: underline 1.2px;
  text-underline-offset: 3px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: -2;
  background-size: cover;
  background-position: center;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid;
}

.about {
  margin: 120px 24px 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 690px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 136px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 180px;
  justify-content: space-between;
}

.footer__address {
  width: 265px;
  height: 98px;
  justify-self: center;
}

.footer__menu-list {
  list-style-type: none;
  width: 164px;
  height: 64px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
}

.footer__menu-link {
  text-underline-offset: 3.9px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
  width: 240px;
  height: 48px;
  justify-self: center;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
